apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: baneymelo/order-app:3.0.0
          ports:
            - containerPort: 8080
          env:
            - name: URL_USER_SERVICE
              value: "http://user:80"  # URL to access the user service